extension {{name}}: Decodable {
    public static func decode(_ json: Any) throws -> {{name}} {
        return try {{name}}(
            {{#props}}
              {{{definition}}}
            {{/props}}
        )
    }
}

