import protocol Decodable.Decodable
import enum Decodable.DecodingError
import struct Decodable.KeyPath
import Decodable

{{#entities}}
extension {{name}} : Deserializable {
    public static func deserialize(_ data: Data?) -> Result<{{name}}, NSError> {
        return decodableDeserialize(data)
    }
}
{{/entities}}
