import Foundation
import ReactiveCocoa

// MARK: - Protocol

protocol RequestManager {
{{#funcs}}
  func {{name}}({{#params}}{{{name}}}: {{{thetype}}}{{{delimiter}}} // {{{comment}}}
  {{/params}}) -> SignalProducer<Response, NSError>

{{/funcs}}
}

// MARK: - Implementation

class RequestManagerImpl: RequestManager {
  private let apiService: ApiService

  init(apiService: ApiService) {
    self.apiService = apiService
  }

  {{#funcs}}
    func {{name}}({{#params}}{{{name}}}:{{{thetype}}}{{{delimiter}}}
    {{/params}}) -> SignalProducer<Response, NSError> {
      return apiService.request(.{{enum_name}}({{#params}}{{name}}: {{name}}{{delimiter}}{{/params}}))
    }
  {{/funcs}}
}
