final {{accessLevel}} class {{name}}: NSObject {
{{#props}}
  {{accessLevel}} let {{name}}: {{{type.typeString}}}
{{/props}}
  {{accessLevel}} init({{#props}}{{name}}: {{{type.typeString}}}{{{delimiter}}}{{/props}}) {
{{#props}}
      self.{{name}} = {{name}}
{{/props}}
  }
}
